.home-container {
  position: relative;
  height: 85px;
  margin: auto;
  .logo {
    position: absolute;
    bottom: -30px;
    width: 100px;
    height: 100px;
    left: 15px;
    border: 2px solid #24292f80;
    background: white;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQB72oEilMwFjbGtNgg1SQ3p4UPzHWhmwmpCD5qFeY4AVbY4br-_pdOsQd0eSyW5oGHp0U&usqp=CAU);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 3px;
  }

  .title {
    font-size: 125%;
    position: absolute;
    bottom: 0px;
    left: 135px;
    color: white;
    text-rendering: optimizelegibility;
    text-shadow: rgba(0, 0, 0, 0.8) 0px 0px 3px;
    font-family: "Roboto", sans-serif;
    div {
      font-weight: normal;
      font-size: 80%;
    }
  }
}
.cover-photo {
  height: 315px;
  .graph {
    position: absolute;
    margin: 0;
    padding: 0;
    bottom: 0;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    &:after {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      bottom: 0;
      background: radial-gradient(
        ellipse 600px 300px at 50% 290px,
        #24292f,
        #24292f 70%,
        #24292f
      );
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      opacity: 0.3;
    }
  }
  .timeline {
    list-style: none;
    position: absolute;
    margin: 0;
    padding: 0;
    bottom: 0;
    width: 100%;
    height: 115px;
    background: linear-gradient(to top, #24292f 30%, rgba(0, 0, 0, 0));
    display: flex;
    align-items: flex-end;
    li {
      background: #ec1c24;
      margin: 1px;
      flex: 1 1;
    }
  }
}
